@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #000;
  color: #fff;
}
.container {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 300px;
  background-color: #121212;
  padding: 24px 24px 90px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-logo {
}
.nav-logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}
.nav-logo i {
  font-size: 24px;
  color: #1db954;
}
.nav-logo h1 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.nav-logo h1:hover {
  color: #1db954;
  cursor: pointer;
  transition: 0.5s all ease-out;
}
.nav-library {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-library i,
.nav-library p {
  color: #b7b3b6;
  font-size: 14px;
}

.nav-logo i {
  font-size: 24px;
}
.nav-library {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-library i,
.nav-library p {
  color: #b7b3b6;
  font-size: 14px;
  cursor: pointer;
}

.nav-library i,
.nav-library p {
  color: #b7b3b6;
  font-size: 14px;
  cursor: pointer;
}
.nav-playlist,
.nav-podcast {
  background-color: #242424;
  padding: 14px;
  border-radius: 8px;
}
.nav-playlist button,
.nav-podcast button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 6px 10px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
}
.nav-playlist p,
.nav-podcast p {
  font-size: 12px;
}
.nav-playlist button:hover,
.nav-podcast button:hover {
  background-color: #1db954;
  color: #fff;
  transition: 0.3s all ease;
}
.nav-footer {
  margin-top: auto;
}
.nav-footer a {
  color: #a7a7a7;
  font-size: 12px;
  font-size: 12px;
  margin-right: 12px;
  margin-bottom: 8px;
}
.nav-btn-language {
  background-color: transparent;
  border: 1px solid #fff;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 16px;
}
.nav-btn-language:hover {
  background-color: #1db954;
  border: 1px solid #1db954;
  transition: 0.3s all ease;
}
main {
  padding: 24px;
  flex-grow: 1;
  overflow-y: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #242424;
  padding: 8px 16px;
  border-radius: 20px;
  width: 300px;
  gap: 10px;
  border: 1px solid transparent; /* borda padrão invisível */
  transition: border 0.3s ease; /* transição suave */
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  outline: none; /* remove a borda azul padrão */
}

.search-bar:focus-within {
  border: 1px solid #1db954; /* borda verde em toda a div */
}
.artists-grid,
.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  margin-bottom: 40px;
  gap: 24px;
}

.artist-card,
.album-card {
  background-color: #181818;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.artist-card:hover,
.album-card:hover {
  background-color: #282828;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
